# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Data (Do not commit raw/large data)
# =========================
data/
raw/
processed/
output/

# =========================
# Temp / Runtime
# =========================
tmp/
temp/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
